<link rel="stylesheet" href="/css/home.css">
<div class="center-text">
  <h2>Explore Recent Images</h2>
</div>

<div class="grid">
  {{#each recentImages}}
    <div class="grid-item">
      <div class="grid-content">
        <img class="image" src={{this.imageURL}} alt="Default placeholder image" onerror="imgError(this);">
        <a class="btn btn-default view-more-btn" href="/view-profile/{{this.uploader.userId}}">View More from {{this.uploader.username}}</a>
      </div>
    </div>
  {{/each}}
</div>