<link rel="stylesheet" href="/css/public-profile.css">
<div class="center-text header-text">
  <h2>{{someUser.username}}'s Uploaded Images</h2>
</div>

<div id="loading">
  Loading...
</div>

<div class="grid">
{{#each someUser.images}}
  <div class="grid-item" id={{this.imageId}}>
    <div class="grid-content">
      <img class="image" src={{this.imageURL}} alt="Default placeholder image" onerror="imgError(this);">
    </div>
  </div>
{{/each}}
</div>