.btn-default {
  width: 100%;
  border-radius: 0px;
  border: none;
}

#my-profile {
  color: rgb(56, 154, 209);
}

#home {
  color: grey;
}

.grid-item:hover, .grid-content:hover {
  background-color: rgb(255, 255, 255);
}

.remove-btn {
  color: #B3081C;
}

  .remove-btn i {
    margin-right: 5px;
  }

  .remove-btn:hover {
    background-color: rgb(255, 255, 255);
  }
