html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
 }

body {
 overflow-y: hidden;
}

.center-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: thin solid rgb(119, 119, 119);
}

.navbar-brand {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-size: 40px;
}

.navbar {
  background-color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
}

.invisible-form {
  visibility: hidden;
}
 
/* Masonry Style */  
.grid {
  width: 100%;
}
 
.grid-item { 
  background-color: white;
  min-width: 200px;
  max-width: 400px;
  padding: 5px;
}

.grid-item--width2 { 
  width: 100%;
  border: thin solid red;
}

.grid-content {
  padding: 5px;
  padding-bottom: 0px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.63);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.63);
}

.image {
  height: auto;
  width: 100%;
}

.view-more-btn {
  width: 100%;
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
